# Byte-compiled / optimized / DLL files
*.out
*.a
*.bc
*.o
core 
*.zip 

!Complete_Results.pdf
!Achar_Paper.pdf
!README.pdf

*.patch

*/__pycache__/
__pycache__/
*.py[cod]
*$py.class

*/klee-*/

# C extensions
*.so
*.csv

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# results/
# fuzz/

output/
build/
bin/
.vscode/

code2inv/new.smt2

*.pyc

*.TXT

*.fuzz

code2inv/prog_generator/fuzz/tests/

models.txt


code2inv/prog_generator/RUNNER_TIME_LOGS_Z3/

code2inv/prog_generator/results/

code2inv/prog_generator/results_Z3/

code2inv/prog_generator/models/

code2inv/prog_generator/colassus/klee-last

code2inv/prog_generator/colassus/klee-out-0/

code2inv/prog_generator/colassus/temp/

code2inv/prog_generator/colassus/klee-out-1/

code2inv/prog_generator/fuzz_all/include/

code2inv/prog_generator/fuzz_all/tests/

code2inv/prog_generator/fuzz/include/

code2inv/prog_generator/fuzz/tests/

code2inv/prog_generator/fuzz_all/output/

code2inv/prog_generator/fuzz/output/

code2inv/prog_generator/Opaque_Examples/tests/

code2inv/prog_generator/Hybrid_Examples/tests/

*.pdf

code2inv/prog_generator/query.smt2

code2inv/prog_generator/HYBRID_LOOP/tests/

code2inv/prog_generator/HYBRID_PRE/tests/

code2inv/prog_generator/NN_Example/tests/

code2inv/prog_generator/neuralinv/torchcc/log/profiler/

code2inv/prog_generator/neuralinv/data/tests/
